:host { display: block; }
.badge-success { background-color: #198754 !important; }
.badge-info { background-color: #0dcaf0 !important; color:#000 !important; }
.badge-warning { background-color: #f8b400 !important; color:#000 !important; }
